---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Group by

This function takes some column name or names and splits the dataframe up into chunks based on those names, it returns a dataframe group by object. Which can be iterated upon, and then returns a tuple where the first item is the group condition, and the second item is the data frame reduced by that grouping.

In [72]:
import pandas as pd
import numpy as np
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

### Groupby vs Loops

In [76]:
%%timeit -n 1

#Traditional way to calculate average: slowed by masking
state_pop = pd.DataFrame()#df, series, or dict are all slow
for state in df['STNAME'].unique(): #a set-like list
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])#Series don't have average. So use numpy.average()
    state_pop = state_pop.append(pd.Series(data={'Population': avg}, name = state)) #append every series to dataframe
    #print('Counties in state ' + state + ' have an average population of ' + str(avg))
state_pop.head()

2.41 s ± 64.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [77]:
%%timeit -n 10
state_pop = pd.Series()
for state in df['STNAME'].unique(): #a set-like list
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])#Series don't have average. So use numpy.average()
    state_pop = state_pop.append(pd.Series({state: avg})) #append every Dict to Series
    #print('Counties in state ' + state + ' have an average population of ' + str(avg))
state_pop.head()

<magic-timeit>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

2.49 s ± 76.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [25]:
%%timeit -n 10
state_pop = pd.Series()
for state in df['STNAME'].unique(): #a set-like list
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])#Series don't have average. So use numpy.average()
    state_pop.loc[state] = avg #append every Dict to Series
    #print('Counties in state ' + state + ' have an average population of ' + str(avg))
state_pop.head()

1.36 s ± 78.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [26]:
%%timeit -n 10
state_pop = dict()
for state in df['STNAME'].unique(): #a set-like list
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])#Series don't have average. So use numpy.average()
    state_pop[state] = avg #append every Dict to Series
    #print('Counties in state ' + state + ' have an average population of ' + str(avg))
state_pop = pd.Series(state_pop)
state_pop

1.26 s ± 65.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [96]:
#%%timeit -n 10
state_pop = pd.DataFrame()
for group, frame in df.groupby('STNAME'): #Unpacking
    avg = np.average(frame['CENSUS2010POP']) #frame is the segment of the group, still WITH the group column,
    state_pop = state_pop.append(pd.Series(data={'Population2010': avg}, name=group))
    
    
    #print('Counties in state ' + group + ' have an average population of ' + str(avg))
# state_pop.head()

Then we can tell group by to use this function to split up our data frame. But you need to set the index of the data frame to be the column that you want to group by first.

In [242]:
# Group by a specific field
#groupby will set the key as index
df.groupby('STNAME') #returns a DataFrame/Series Groupby object

In [331]:
# Group by index
df.groupby('STNAME').get_group('Alabama')

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,50,3,6,1,125,Alabama,Tuscaloosa County,194656,194653,194977,...,3.983504,4.256278,5.261075,4.787490,1.884402,5.306232,5.202679,6.333332,6.057539,3.158710
64,50,3,6,1,127,Alabama,Walker County,67023,67023,67004,...,-4.579296,-4.336533,-0.666096,-3.300481,-3.087245,-4.085450,-3.869753,-0.181663,-2.692097,-2.460626
65,50,3,6,1,129,Alabama,Washington County,17581,17583,17610,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
66,50,3,6,1,131,Alabama,Wilcox County,11670,11665,11557,...,-7.029724,-10.239356,-12.314507,-13.835235,0.090453,-7.029724,-10.239356,-12.314507,-13.835235,0.090453
67,50,3,6,1,133,Alabama,Winston County,24484,24483,24401,...,0.410332,-3.916234,2.441548,1.077609,-6.669724,0.410332,-3.957457,2.400166,1.036162,-6.711409

In [166]:
#Group the index into alphabetic groups with function

def fun(item): # input of the callable is the index 
    if item[0]<'M': 
        return 0    
    if item[0]<'Q': 
        return 1
    return 2
df.set_index('STNAME').groupby(fun).get_group(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Maine,50,1,1,23,1,Androscoggin County,107702,107702,107706,107403,...,-6.480436,-2.344611,-5.611312,-2.812272,-5.143472,-5.485591,-1.339778,-4.448105,-1.471321,-3.811015
Maine,50,1,1,23,3,Aroostook County,71870,71871,71721,71335,...,-2.292808,-5.490483,-7.917555,-6.157954,-7.594808,-2.166984,-5.462327,-7.818053,-5.985703,-7.406387
Maine,50,1,1,23,5,Cumberland County,281674,281673,281462,282758,...,1.456879,1.753516,2.396554,2.955955,2.474682,3.782213,3.905719,4.659772,5.528473,5.042814
Maine,50,1,1,23,7,Franklin County,30768,30768,30719,30716,...,1.692846,-2.705786,-4.910144,-8.010549,-6.279383,2.604379,-1.988590,-4.124521,-7.021592,-5.282655
Maine,50,1,1,23,9,Hancock County,54418,54420,54370,54546,...,3.874546,0.348323,4.206753,0.255619,-0.054846,5.178303,1.906613,5.669971,1.862367,1.553973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pennsylvania,50,1,2,42,125,Washington County,207820,207820,207877,208073,...,3.683135,3.260434,1.219337,2.113561,1.656917,4.062988,3.750219,1.742595,2.762039,2.305276
Pennsylvania,50,1,2,42,127,Wayne County,52822,52825,52903,52237,...,-14.247670,-7.062038,3.444972,-1.222399,-1.208177,-14.095492,-6.831127,3.677218,-0.911948,-0.896389
Pennsylvania,50,1,2,42,129,Westmoreland County,365169,365169,365119,364566,...,2.332513,-0.610043,-2.744416,-0.877192,-1.338335,2.521636,-0.379216,-2.506971,-0.605151,-1.062304
Pennsylvania,50,1,2,42,131,Wyoming County,28276,28276,28236,28296,...,1.308993,1.376778,-8.142025,0.568565,-11.511717,1.804288,2.012214,-7.469423,1.314808,-10.760953
Pennsylvania,50,1,2,42,133,York County,434972,434998,435539,436902,...,-0.928430,-2.233819,-0.271270,-0.163507,-0.520336,0.442437,-0.658485,1.258329,1.710007,1.348349

In [168]:
#iterate GroupBy object
for name, group in df.set_index('STNAME').groupby(fun): 
    print('There are ' + str(len(group)) + ' records in group ' + str(name) + ' for processing.')

There are 1177 records in group 0 for processing.
There are 1134 records in group 1 for processing.
There are 831 records in group 2 for processing.

### split-apply-combine

In [199]:
#???
df.groupby('STNAME').apply(\
lambda grp, p2010: np.average(grp[p2010]), 'CENSUS2010POP').head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
dtype: float64

### `GroupBy.agg()`

In [314]:
#Exact one function on one column within GroupBy 
df.groupby('STNAME').agg({'CENSUS2010POP': np.average,'ESTIMATESBASE2010': 'sum'})\
.rename(columns={'CENSUS2010POP':'CENSUS2010POP_AVG','ESTIMATESBASE2010': 'ESTIMATESBASE2010_SUM'})\
.head()

            CENSUS2010POP_AVG  ESTIMATESBASE2010_SUM
STNAME
Alabama          71339.343284                4780127
Alaska           24490.724138                 710249
Arizona         426134.466667                6392307
Arkansas         38878.906667                2915958
California      642309.586207               37254503

In [321]:
#multiple functions on a single column 
#define column names inside agg
df.groupby('STNAME')['CENSUS2010POP']\
.agg(CENSUS2010POP_AVG= np.average, CENSUS2010POP_SUM='sum')\
.head()

            CENSUS2010POP_AVG  CENSUS2010POP_SUM
STNAME
Alabama          71339.343284            4779736
Alaska           24490.724138             710231
Arizona         426134.466667            6392017
Arkansas         38878.906667            2915918
California      642309.586207           37253956

In [ ]:
#Multiple functions on single/multiple columns
df.groupby('STNAME')[['CENSUS2010POP','ESTIMATESBASE2010']]\
.agg([np.average,'sum'])\
.head()

### `GroupBy.apply()`

In [354]:
import pandas as pd
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50].set_index(['STNAME','CTYNAME'])
df.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861
        Blount County           57322              57322            57373

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [213]:
#apply lambda function and return a series as a row
df.groupby('STNAME').apply(lambda x: pd.Series(
    {'CENSUS2010POP':x['CENSUS2010POP'].mean(),'ESTIMATESBASE2010':x['ESTIMATESBASE2010'].mean()}))\
.head()

            CENSUS2010POP  ESTIMATESBASE2010
STNAME
Alabama      71339.343284       71345.179104
Alaska       24490.724138       24491.344828
Arizona     426134.466667      426153.800000
Arkansas     38878.906667       38879.440000
California  642309.586207      642319.017241

In [198]:
#apply lambda function and return a single value
df.groupby('STNAME').apply(lambda x: np.average(x['CENSUS2010POP']))\
.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
dtype: float64

In [235]:
#apply a function on a reduced 2D GroupBy 
df.groupby('STNAME')[['POPESTIMATE2010','POPESTIMATE2011']].mean()\
.head()

            POPESTIMATE2010  POPESTIMATE2011
STNAME
Alabama        71420.313433     71658.328358
Alaska         24621.413793     24921.379310
Arizona       427213.866667    431248.800000
Arkansas       38965.253333     39180.506667
California    643691.017241    650000.586207

In [237]:
#apply a function on a reduced 1D GroupBy
df.groupby('STNAME')['CENSUS2010POP'].mean()\
.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [357]:
#apply() map the function to for every 0or1 axis of DF and return a DF

#    a copy of df generated
#1. for every row in df, 
#2. select columns of intrest, assign to data (reduced to Series)
#3. {'min': np.min(), 'max': np:max()}, a dict
#4. return pd.Series(the dict) 
#  --> min  x
#      max  y  to overwrite the row        min  max
#5. every Series is a row of DataFrame: n   x   y 
#6. continue to next row

def min_max(row):
    coln = ['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']    
    return pd.Series({'min': row[coln].min(), 'max': row[coln].max()}) #return only new data
    return row.append(pd.Series({'min': row[coln].min(), 'max': row[coln].max()})) #append new data
df.apply(min_max, axis=1)

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0            54571.0          54660.0
        Baldwin County          182265.0           182265.0         183193.0
        Barbour County           27457.0            27457.0          27341.0
        Bibb County              22915.0            22919.0          22861.0
        Blount County            57322.0            57322.0          57373.0
...                                  ...                ...              ...
Wyoming Sweetwater County        43806.0            43806.0          43593.0
        Teton County             21294.0            21294.0          21297.0
        Uinta County             21118.0            21118.0          21102.0
        Washakie County           8533.0             8533.0           8545.0
        Weston County             7208.0             7208.0           7181.0

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                              ...
Alabama Autauga County             55253.0          55175.0  ...
        Baldwin County            186659.0         190396.0  ...
        Barbour County             27226.0          27159.0  ...
        Bibb County                22733.0          22642.0  ...
        Blount County              57711.0          57776.0  ...
...                                    ...              ...  ...
Wyoming Sweetwater County          44041.0          45104.0  ...
        Teton County               21482.0          21697.0  ...
        Uinta County               20912.0          20989.0  ...
        Washakie County             8469.0           8443.0  ...
        Weston County               7114.0           7065.0  ...

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015       min  \
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333   54660.0
        Baldwin County       22.727626    20.317142    18.293499  183193.0
        Barbour County       -7.167664    -3.978583   -10.543299   26489.0
        Bibb County          -5.403729     0.754533     1.107861   22512.0
        Blount County        -1.402476    -1.577232    -0.884411   57373.0
...                                ...          ...          ...       ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195   43593.0
        Teton County         21.160658    16.308671     1.520747   21297.0
        Uinta County         -7.521840   -14.740608   -12.606351   20822.0
        Washakie County      -2.250385   -18.020168     1.441961    8316.0
        Weston County        12.372583     1.533635     6.935294    7065.0

                                max
STNAME  CTYNAME
Alabama Autauga County      55347.0
        Baldwin County     203709.0
        Barbour County      27341.0
        Bibb County         22861.0
        Blount County       57776.0
...                             ...
Wyoming Sweetwater County   45162.0
        Teton County        23125.0
        Uinta County        21102.0
        Washakie County      8545.0
        Weston County        7234.0

[3142 rows x 100 columns]

In [80]:
#equivalent lambda min_max()

coln = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015'] #define range to compair

(df.head().apply(lambda row #.head() to test run
                : row.append(pd.Series( #append Series to Series
                    {'Max':row.loc[coln].max(), #from one dict, 2 keys(column name): 2 values
                     'Min':row.loc[coln].min()})), axis=1))

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County    50.0     3.0       6.0    1.0     1.0
        Baldwin County    50.0     3.0       6.0    1.0     3.0
        Barbour County    50.0     3.0       6.0    1.0     5.0
        Bibb County       50.0     3.0       6.0    1.0     7.0
        Blount County     50.0     3.0       6.0    1.0     9.0

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County        54571.0            54571.0          54660.0
        Baldwin County       182265.0           182265.0         183193.0
        Barbour County        27457.0            27457.0          27341.0
        Bibb County           22915.0            22919.0          22861.0
        Blount County         57322.0            57322.0          57373.0

                        POPESTIMATE2011  POPESTIMATE2012    ...     \
STNAME  CTYNAME                                             ...
Alabama Autauga County          55253.0          55175.0    ...
        Baldwin County         186659.0         190396.0    ...
        Barbour County          27226.0          27159.0    ...
        Bibb County             22733.0          22642.0    ...
        Blount County           57711.0          57776.0    ...

                        RDOMESTICMIG2013  RDOMESTICMIG2014  RDOMESTICMIG2015  \
STNAME  CTYNAME
Alabama Autauga County         -3.012349          2.265971         -2.530799
        Baldwin County         21.845705         19.243287         17.197872
        Barbour County         -7.056824         -3.904217        -10.543299
        Bibb County            -6.201001         -0.177537          0.177258
        Blount County          -1.748766         -2.062535         -1.369970

                        RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
STNAME  CTYNAME
Alabama Autauga County     7.606016    -2.626146    -2.722002     2.592270
        Baldwin County    15.844176    18.559627    22.727626    20.317142
        Barbour County    -4.874741    -2.758113    -7.167664    -3.978583
        Bibb County       -5.088389    -4.363636    -5.403729     0.754533
        Blount County      1.859511    -0.848580    -1.402476    -1.577232

                        RNETMIG2015       Max       Min
STNAME  CTYNAME
Alabama Autauga County    -2.187333   55347.0   54660.0
        Baldwin County    18.293499  203709.0  183193.0
        Barbour County   -10.543299   27341.0   26489.0
        Bibb County        1.107861   22861.0   22512.0
        Blount County     -0.884411   57776.0   57373.0

[5 rows x 100 columns]

In [332]:
# Apply example
eg = pd.DataFrame({"User": ["user1", "user2", "user2", "user3", "user2", "user1", "user3"],
                   "Amount": [10.0, 5.0, 8.0, 10.5, 7.5, 8.0, 9],
                   'Score': [9, 1, 8, 7, 7, 6, 9]}, 
                    index=np.arange(100,107))
eg

      User  Amount  Score
100  user1    10.0      9
101  user2     5.0      1
102  user2     8.0      8
103  user3    10.5      7
104  user2     7.5      7
105  user1     8.0      6
106  user3     9.0      9

In [341]:
# A cleaner solution will be apply()

def my_agg(x): #x will be each group for apply()
    data = {
        'Amount mean': x['Amount'].mean(),
        'Amount std':  x['Amount'].std(),
        'Amount range': x['Amount'].max() - x['Amount'].min(),
        'Score Max':  x['Score'].max(),
        'Score Sum': x['Score'].sum(),
        'Amount Score Sum': (x['Amount'] * x['Score']).sum()}
    return pd.Series(data)
eg_after = eg.groupby('User').apply(my_agg)
eg_after

,Amount mean,Amount std,Amount range,Score Max,Score Sum,Amount Score Sum
User,,,,,,
user1,9.000000,1.414214,2.0,9.0,15.0,138.0
user2,6.833333,1.607275,3.0,8.0,16.0,121.5
user3,9.750000,1.060660,1.5,9.0,16.0,154.5

In [342]:
#that is equal to
(eg.set_index('User').groupby('User')
 .apply(lambda x: pd.Series(
     {'Mean Amount': x['Amount'].mean(),
      'Score Sum': x['Score'].sum(),
      'Score Max': x['Score'].max()},
       index=['Score Max', 'Score Sum', 'Mean Amount'],
       name = 'Example')))

Example  Score Max  Score Sum  Mean Amount
User
user1          9.0       15.0     9.000000
user2          8.0       16.0     6.833333
user3          9.0       16.0     9.750000

# Pivot Tables

In [358]:
#http://open.canada.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64
df = pd.read_csv('cars.csv')
df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [75]:
#Use .pivot_table() to expore relationships

#Here, we wonna know, for every maker, 
#Does miles of battery increase with Year?

#1.extract set(years), set(makes)
#2. for each year: 2012BMW.avg, 2012FORD.avg ...
#2b. or start with columns: BMW2012.avg, BMW2013.avg...
df.pivot_table(values='(kW)', index='YEAR', columns='Make', 
               aggfunc=np.mean)

Make    BMW  CHEVROLET   FORD   KIA  MITSUBISHI  NISSAN  SMART       TESLA
YEAR
2012    NaN        NaN    NaN   NaN        49.0    80.0    NaN         NaN
2013    NaN        NaN  107.0   NaN        49.0    80.0   35.0  280.000000
2014    NaN      104.0  107.0   NaN        49.0    80.0   35.0  268.333333
2015  125.0      104.0  107.0  81.0        49.0    80.0   35.0  320.666667
2016  125.0      104.0  107.0  81.0        49.0    80.0   35.0  409.700000

In [90]:
#Pass multiple functions to aggfunc, retunes hierachy 
df.pivot_table(values='(kW)', index='YEAR', columns='Make', 
               aggfunc=[np.mean,np.min], margins=True)#give cummulative

       mean                                                             \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA
YEAR
2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN
2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000
2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000
All   125.0     104.0  107.0  81.0       49.0   80.0  35.0  345.478261

                   amin                                                        \
Make         All    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART  TESLA
YEAR
2012   64.500000    NaN       NaN    NaN   NaN       49.0   80.0   NaN    NaN
2013  158.444444    NaN       NaN  107.0   NaN       49.0   80.0  35.0  270.0
2014  135.000000    NaN     104.0  107.0   NaN       49.0   80.0  35.0  225.0
2015  181.428571  125.0     104.0  107.0  81.0       49.0   80.0  35.0  280.0
2016  252.263158  125.0     104.0  107.0  81.0       49.0   80.0  35.0  283.0
All   190.622642  125.0     104.0  107.0  81.0       49.0   80.0  35.0  225.0


Make All
YEAR
2012  49
2013  35
2014  35
2015  35
2016  35
All   35

In [368]:
def test_agg(group):
    return group.mean(axis=0)*-1

In [367]:
#Pivot Table Multi-level index: Set index and take the average
df.pivot_table(index=['Make', 'Model'], aggfunc='mean').head() #Avg by default

,,(g/km),(kW),(km),CITY (Le/100 km),CITY (kWh/100 km),COMB (Le/100 km),COMB (kWh/100 km),HWY (Le/100 km),HWY (kWh/100 km),RATING,TIME (h),YEAR
Make,Model,,,,,,,,,,,,
BMW,i3,0,125.0,130,1.7,15.2,1.9,16.8,2.1,18.8,10.0,4,2015.5
CHEVROLET,SPARK EV,0,104.0,131,1.8,16.0,2.0,17.8,2.2,19.6,10.0,7,2015.0
FORD,FOCUS ELECTRIC,0,107.0,122,2.1,19.0,2.2,20.0,2.4,21.1,10.0,4,2014.5
KIA,SOUL EV,0,81.0,149,2.0,17.5,2.2,19.9,2.6,22.7,10.0,4,2015.5
MITSUBISHI,i-MiEV,0,49.0,100,1.9,16.9,2.1,18.7,2.4,21.4,10.0,7,2014.0

In [362]:
df.set_index(['Make','Model']).sort_index()

                                            YEAR                   Size  (kW)  \
Make       Model
BMW        i3                               2015             SUBCOMPACT   125
           i3                               2016             SUBCOMPACT   125
CHEVROLET  SPARK EV                         2014             SUBCOMPACT   104
           SPARK EV                         2015             SUBCOMPACT   104
           SPARK EV                         2016             SUBCOMPACT   104
FORD       FOCUS ELECTRIC                   2013                COMPACT   107
           FOCUS ELECTRIC                   2014                COMPACT   107
           FOCUS ELECTRIC                   2015                COMPACT   107
           FOCUS ELECTRIC                   2016                COMPACT   107
KIA        SOUL EV                          2015  STATION WAGON - SMALL    81
           SOUL EV                          2016  STATION WAGON - SMALL    81
MITSUBISHI i-MiEV                           2012             SUBCOMPACT    49
           i-MiEV                           2013             SUBCOMPACT    49
           i-MiEV                           2014             SUBCOMPACT    49
           i-MiEV                           2015             SUBCOMPACT    49
           i-MiEV                           2016             SUBCOMPACT    49
NISSAN     LEAF                             2012               MID-SIZE    80
           LEAF                             2013               MID-SIZE    80
           LEAF                             2014               MID-SIZE    80
           LEAF                             2015               MID-SIZE    80
           LEAF (24 kWh battery)            2016               MID-SIZE    80
           LEAF (30 kWh battery)            2016               MID-SIZE    80
SMART      FORTWO ELECTRIC DRIVE CABRIOLET  2013             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE CABRIOLET  2014             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE CABRIOLET  2015             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE CABRIOLET  2016             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE COUPE      2013             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE COUPE      2014             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE COUPE      2015             TWO-SEATER    35
           FORTWO ELECTRIC DRIVE COUPE      2016             TWO-SEATER    35
TESLA      MODEL S (40 kWh battery)         2013              FULL-SIZE   270
           MODEL S (60 kWh battery)         2013              FULL-SIZE   270
           MODEL S (60 kWh battery)         2014              FULL-SIZE   225
           MODEL S (60 kWh battery)         2015              FULL-SIZE   283
           MODEL S (60 kWh battery)         2016              FULL-SIZE   283
           MODEL S (70 kWh battery)         2015              FULL-SIZE   283
           MODEL S (70 kWh battery)         2016              FULL-SIZE   283
           MODEL S (85 kWh battery)         2013              FULL-SIZE   270
           MODEL S (85 kWh battery)         2014              FULL-SIZE   270
           MODEL S (85/90 kWh battery)      2015              FULL-SIZE   283
           MODEL S (85/90 kWh battery)      2016              FULL-SIZE   283
           MODEL S 70D                      2015              FULL-SIZE   280
           MODEL S 70D                      2016              FULL-SIZE   386
           MODEL S 85D/90D                  2015              FULL-SIZE   280
           MODEL S 85D/90D                  2016              FULL-SIZE   386
           MODEL S 90D (Refresh)            2016              FULL-SIZE   386
           MODEL S P85D/P90D                2015              FULL-SIZE   515
           MODEL S P85D/P90D                2016              FULL-SIZE   568
           MODEL S P90D (Refresh)           2016              FULL-SIZE   568
           MODEL S PERFORMANCE              2013              FULL-SIZE   310
           MODEL S PERFORMANCE              2014              FULL-SIZE   310
           MODEL X 90D                      2016         SUV - STANDARD   386
           MODEL X P90D                     2016         SUV - STANDARD   568

                                           Unnamed: 5 TYPE  CITY (kWh/100 km)  \
Make       Model
BMW        i3                                      A1    B               15.2
           i3                                      A1    B               15.2
CHEVROLET  SPARK EV                                A1    B               16.0
           SPARK EV                                A1    B               16.0
           SPARK EV                                A1    B               16.0
FORD       FOCUS ELECTRIC                          A1    B               19.0
           FOCUS ELECTRIC                          A1    B               19.0
           FOCUS ELECTRIC                          A1    B               19.0
           FOCUS ELECTRIC                          A1    B               19.0
KIA        SOUL EV                                 A1    B               17.5
           SOUL EV                                 A1    B               17.5
MITSUBISHI i-MiEV                                  A1    B               16.9
           i-MiEV                                  A1    B               16.9
           i-MiEV                                  A1    B               16.9
           i-MiEV                                  A1    B               16.9
           i-MiEV                                  A1    B               16.9
NISSAN     LEAF                                    A1    B               19.3
           LEAF                                    A1    B               19.3
           LEAF                                    A1    B               16.5
           LEAF                                    A1    B               16.5
           LEAF (24 kWh battery)                   A1    B               16.5
           LEAF (30 kWh battery)                   A1    B               17.0
SMART      FORTWO ELECTRIC DRIVE CABRIOLET         A1    B               17.2
           FORTWO ELECTRIC DRIVE CABRIOLET         A1    B               17.2
           FORTWO ELECTRIC DRIVE CABRIOLET         A1    B               17.2
           FORTWO ELECTRIC DRIVE CABRIOLET         A1    B               17.2
           FORTWO ELECTRIC DRIVE COUPE             A1    B               17.2
           FORTWO ELECTRIC DRIVE COUPE             A1    B               17.2
           FORTWO ELECTRIC DRIVE COUPE             A1    B               17.2
           FORTWO ELECTRIC DRIVE COUPE             A1    B               17.2
TESLA      MODEL S (40 kWh battery)                A1    B               22.4
           MODEL S (60 kWh battery)                A1    B               22.2
           MODEL S (60 kWh battery)                A1    B               22.2
           MODEL S (60 kWh battery)                A1    B               22.2
           MODEL S (60 kWh battery)                A1    B               22.2
           MODEL S (70 kWh battery)                A1    B               23.8
           MODEL S (70 kWh battery)                A1    B               23.8
           MODEL S (85 kWh battery)                A1    B               23.8
           MODEL S (85 kWh battery)                A1    B               23.8
           MODEL S (85/90 kWh battery)             A1    B               23.8
           MODEL S (85/90 kWh battery)             A1    B               23.8
           MODEL S 70D                             A1    B               20.8
           MODEL S 70D                             A1    B               20.8
           MODEL S 85D/90D                         A1    B               22.0
           MODEL S 85D/90D                         A1    B               22.0
           MODEL S 90D (Refresh)                   A1    B               20.8
           MODEL S P85D/P90D                       A1    B               23.4
           MODEL S P85D/P90D                       A1    B               23.4
           MODEL S P90D (Refresh)                  A1    B               22.9
           MODEL S PERFORMANCE                     A1    B               23.9
           MODEL S PERFORMANCE                     A1    B               23.9
           MODEL X 90D                             A1    B               23.2
           MODEL X P90D                            A1    B               23.6

                                            HWY (kWh/100 km)  \
Make       Model
BMW        i3                                           18.8
           i3                                           18.8
CHEVROLET  SPARK EV                                     19.6
           SPARK EV                                     19.6
           SPARK EV                                     19.6
FORD       FOCUS ELECTRIC                               21.1
           FOCUS ELECTRIC                               21.1
           FOCUS ELECTRIC                               21.1
           FOCUS ELECTRIC                               21.1
KIA        SOUL EV                                      22.7
           SOUL EV                                      22.7
MITSUBISHI i-MiEV                                       21.4
           i-MiEV                                       21.4
           i-MiEV                                       21.4
           i-MiEV                                       21.4
           i-MiEV                                       21.4
NISSAN     LEAF                                         23.0
           LEAF                                         23.0
           LEAF                                         20.8
           LEAF                                         20.8
           LEAF (24 kWh battery)                        20.8
           LEAF (30 kWh battery)                        20.7
SMART      FORTWO ELECTRIC DRIVE CABRIOLET              22.5
           FORTWO ELECTRIC DRIVE CABRIOLET              22.5
           FORTWO ELECTRIC DRIVE CABRIOLET              22.5
           FORTWO ELECTRIC DRIVE CABRIOLET              22.5
           FORTWO ELECTRIC DRIVE COUPE                  22.5
           FORTWO ELECTRIC DRIVE COUPE                  22.5
           FORTWO ELECTRIC DRIVE COUPE                  22.5
           FORTWO ELECTRIC DRIVE COUPE                  22.5
TESLA      MODEL S (40 kWh battery)                     21.9
           MODEL S (60 kWh battery)                     21.7
           MODEL S (60 kWh battery)                     21.7
           MODEL S (60 kWh battery)                     21.7
           MODEL S (60 kWh battery)                     21.7
           MODEL S (70 kWh battery)                     23.2
           MODEL S (70 kWh battery)                     23.2
           MODEL S (85 kWh battery)                     23.2
           MODEL S (85 kWh battery)                     23.2
           MODEL S (85/90 kWh battery)                  23.2
           MODEL S (85/90 kWh battery)                  23.2
           MODEL S 70D                                  20.6
           MODEL S 70D                                  20.6
           MODEL S 85D/90D                              19.8
           MODEL S 85D/90D                              19.8
           MODEL S 90D (Refresh)                        19.7
           MODEL S P85D/P90D                            21.5
           MODEL S P85D/P90D                            21.5
           MODEL S P90D (Refresh)                       21.0
           MODEL S PERFORMANCE                          23.2
           MODEL S PERFORMANCE                          23.2
           MODEL X 90D                                  22.2
           MODEL X P90D                                 23.3

                                            COMB (kWh/100 km)  \
Make       Model
BMW        i3                                            16.8
           i3                                            16.8
CHEVROLET  SPARK EV                                      17.8
           SPARK EV                                      17.8
           SPARK EV                                      17.8
FORD       FOCUS ELECTRIC                                20.0
           FOCUS ELECTRIC                                20.0
           FOCUS ELECTRIC                                20.0
           FOCUS ELECTRIC                                20.0
KIA        SOUL EV                                       19.9
           SOUL EV                                       19.9
MITSUBISHI i-MiEV                                        18.7
           i-MiEV                                        18.7
           i-MiEV                                        18.7
           i-MiEV                                        18.7
           i-MiEV                                        18.7
NISSAN     LEAF                                          21.1
           LEAF                                          21.1
           LEAF                                          18.4
           LEAF                                          18.4
           LEAF (24 kWh battery)                         18.4
           LEAF (30 kWh battery)                         18.6
SMART      FORTWO ELECTRIC DRIVE CABRIOLET               19.6
           FORTWO ELECTRIC DRIVE CABRIOLET               19.6
           FORTWO ELECTRIC DRIVE CABRIOLET               19.6
           FORTWO ELECTRIC DRIVE CABRIOLET               19.6
           FORTWO ELECTRIC DRIVE COUPE                   19.6
           FORTWO ELECTRIC DRIVE COUPE                   19.6
           FORTWO ELECTRIC DRIVE COUPE                   19.6
           FORTWO ELECTRIC DRIVE COUPE                   19.6
TESLA      MODEL S (40 kWh battery)                      22.2
           MODEL S (60 kWh battery)                      21.9
           MODEL S (60 kWh battery)                      21.9
           MODEL S (60 kWh battery)                      21.9
           MODEL S (60 kWh battery)                      21.9
           MODEL S (70 kWh battery)                      23.6
           MODEL S (70 kWh battery)                      23.6
           MODEL S (85 kWh battery)                      23.6
           MODEL S (85 kWh battery)                      23.6
           MODEL S (85/90 kWh battery)                   23.6
           MODEL S (85/90 kWh battery)                   23.6
           MODEL S 70D                                   20.7
           MODEL S 70D                                   20.7
           MODEL S 85D/90D                               21.0
           MODEL S 85D/90D                               21.0
           MODEL S 90D (Refresh)                         20.3
           MODEL S P85D/P90D                             22.5
           MODEL S P85D/P90D                             22.5
           MODEL S P90D (Refresh)                        22.1
           MODEL S PERFORMANCE                           23.6
           MODEL S PERFORMANCE                           23.6
           MODEL X 90D                                   22.7
           MODEL X P90D                                  23.5

                                            CITY (Le/100 km)  HWY (Le/100 km)  \
Make       Model
BMW        i3                                            1.7              2.1
           i3                                            1.7              2.1
CHEVROLET  SPARK EV                                      1.8              2.2
           SPARK EV                                      1.8              2.2
           SPARK EV                                      1.8              2.2
FORD       FOCUS ELECTRIC                                2.1              2.4
           FOCUS ELECTRIC                                2.1              2.4
           FOCUS ELECTRIC                                2.1              2.4
           FOCUS ELECTRIC                                2.1              2.4
KIA        SOUL EV                                       2.0              2.6
           SOUL EV                                       2.0              2.6
MITSUBISHI i-MiEV                                        1.9              2.4
           i-MiEV                                        1.9              2.4
           i-MiEV                                        1.9              2.4
           i-MiEV                                        1.9              2.4
           i-MiEV                                        1.9              2.4
NISSAN     LEAF                                          2.2              2.6
           LEAF                                          2.2              2.6
           LEAF                                          1.9              2.3
           LEAF                                          1.9              2.3
           LEAF (24 kWh battery)                         1.9              2.3
           LEAF (30 kWh battery)                         1.9              2.3
SMART      FORTWO ELECTRIC DRIVE CABRIOLET               1.9              2.5
           FORTWO ELECTRIC DRIVE CABRIOLET               1.9              2.5
           FORTWO ELECTRIC DRIVE CABRIOLET               1.9              2.5
           FORTWO ELECTRIC DRIVE CABRIOLET               1.9              2.5
           FORTWO ELECTRIC DRIVE COUPE                   1.9              2.5
           FORTWO ELECTRIC DRIVE COUPE                   1.9              2.5
           FORTWO ELECTRIC DRIVE COUPE                   1.9              2.5
           FORTWO ELECTRIC DRIVE COUPE                   1.9              2.5
TESLA      MODEL S (40 kWh battery)                      2.5              2.5
           MODEL S (60 kWh battery)                      2.5              2.4
           MODEL S (60 kWh battery)                      2.5              2.4
           MODEL S (60 kWh battery)                      2.5              2.4
           MODEL S (60 kWh battery)                      2.5              2.4
           MODEL S (70 kWh battery)                      2.7              2.6
           MODEL S (70 kWh battery)                      2.7              2.6
           MODEL S (85 kWh battery)                      2.7              2.6
           MODEL S (85 kWh battery)                      2.7              2.6
           MODEL S (85/90 kWh battery)                   2.7              2.6
           MODEL S (85/90 kWh battery)                   2.7              2.6
           MODEL S 70D                                   2.3              2.3
           MODEL S 70D                                   2.3              2.3
           MODEL S 85D/90D                               2.5              2.2
           MODEL S 85D/90D                               2.5              2.2
           MODEL S 90D (Refresh)                         2.3              2.2
           MODEL S P85D/P90D                             2.6              2.4
           MODEL S P85D/P90D                             2.6              2.4
           MODEL S P90D (Refresh)                        2.6              2.4
           MODEL S PERFORMANCE                           2.7              2.6
           MODEL S PERFORMANCE                           2.7              2.6
           MODEL X 90D                                   2.6              2.5
           MODEL X P90D                                  2.7              2.6

                                            COMB (Le/100 km)  (g/km)  RATING  \
Make       Model
BMW        i3                                            1.9       0     NaN
           i3                                            1.9       0    10.0
CHEVROLET  SPARK EV                                      2.0       0     NaN
           SPARK EV                                      2.0       0     NaN
           SPARK EV                                      2.0       0    10.0
FORD       FOCUS ELECTRIC                                2.2       0     NaN